/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of reset */

/*======= LAYOUT =======*/
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    max-width: 1500px;
    margin: 0 auto;
    color: #333;
}
header {
    padding-top: 10px;
    width: 100%;
    height: auto;
    justify-content: center;
}
/* Logo */
a > img {
    width: auto;
    height: 150px;
    display: block;
    margin: 0 auto;
}
.index-page, .products {
    display: grid;
    justify-items: center;
}
.index-page > h2 {
    text-align: center;
    margin-bottom: 40px;
}
.image-container {
    position: relative;
    text-align: center;
}
.image-container > img {
    max-width: 100%;
}
footer {
    width: 100%;
    display: grid;
    background-color: #f7f1ee;
}
.block > h2  {
    font-size: 1.4em;
    padding-bottom: 5px;
}
.map > h2 {
    font-size: 1.4em;
    padding-bottom: 10px;
}
.block, .map, footer > p {
    margin-top: 30px;
}
footer > h2 {
    background-color: #fff59c;
}
.main-photo {
    position: relative;
    display: inline-block;
}
.main-photo > picture img {
    max-width: 100%;
}
.text-section {   
    margin: 20px auto 40px auto;
    width: 100%;
    text-align: center;
    padding: 10px;
}
.text-section > p {
    padding: 10px;
}
.text-section > h2, .text-section > h1, .products-page > h1 {
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}
footer > h2, .block, .map, footer > p {
    text-align: center;
}
.text1 > h2, .text2 > h2, .text3 > h2 {
    margin-top: 20px;
}
.contact-us, .find-us {
    margin-bottom: 20px;
}
.contact-us > h1, .products-page > p {
    margin-bottom: 20px;
}
.caption {
    margin-top: 10px;
}
.products-page > p {
    margin-bottom: 20px;
}
.contact-form {
    margin-bottom: 20px;
}
.find-us > h2, .contact-form > h2 {
    padding-bottom: 10px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit] {
    background-color: #333;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    opacity: 0.3;
}

/*======= 404 page =======*/
.error-404 {
    text-align: center;
    margin-top: 25vh;
}
.error-404 > h4 {
    font-size: 1.6em;
}
.error-404 > h4, .error-404 > p, .error-404 > a:last-child {
    padding-top: 1em;
}
.error-404 > a {
    color: #429fbf;
}

/*======= OPENING TIMES =======*/
table {
    margin: 0 auto;    
}
table th {
    padding-right: 20px;
    text-align: left;
}
table td {
    text-align: right;
}
/* this class is added by JavaScript */
.today {
	font-weight: 700;
	background-color: #fff59c;
}

/*======= TYPOGRAPHY =======*/
body {
    font-family: 'Nunito', Calibri, Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.6em;
}
h1, h2, .fullMenu-left li a, .fullMenu-right li a, .menuToggle a {
    font-family: 'Cormorant', Georgia, "Times New Roman", Times, serif;
}
.caption {
    text-transform: uppercase;
}
.index-page > h2 {
    text-transform: uppercase;
    font-weight: 700;
}
.block > h2, .map > h2, footer > h2 {
    text-transform: uppercase;
    font-weight: 700;  
}
footer > h2 span, .text-section > h2 span {
    font-size: 1.6em;
}
.text-section > h2, .text-section > h1, .products-page > h1 {
    font-weight: 700;
}
.text1 > h2, .text2 > h2, .text3 > h2 {
    font-size: 1.6em;
    text-transform: uppercase;
    font-weight: 700;
}
.text1 > ul, .text2 > ul, .text3 > ul {
    list-style-type: circle;
    line-height: 1.2em;
    margin: 10px;
}
.products-page > p {
    font-size: 1.2em;
    text-align: center;
}
.contact-us > h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.6em;
}
.find-us > h2, .contact-form > h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4em;
}

/* ======= RESPONSIVE STYLING ======= */
/* Small phones */
@media (min-width: 280px) {
    body {
        width: 100vw;
    }
    .index-page, .products {  
        grid-template-columns: 1fr;
    }
    .index-page > h2 {
        font-size: 1.2em;
    }
    .main-photo, .seasonal-item1, .seasonal-item2, .seasonal-item3 {
        max-width: 100%;
        margin-bottom: 1em;
    }
    .text-section > h2 {
        font-size: 1.4em;
    }
    .text-section > h1, .products-page > h1 {
        font-size: 1.6em;
    }
    .products-page > h1 {
        padding-bottom: 20px;
    }
    .our-story-page {
        margin-bottom: 20px;
        max-width: 90%;
        margin: 0 auto;
        display: grid; 
    }
    .story { 
        padding: 0 5px 0 5px;
        margin: auto 0;
    }
    .story > p {
        font-size: 1.1em;
        margin-bottom: 20px;
        line-height: 1.6em;
    }
    .story > h1 {
        font-size: 2em;
        text-transform: uppercase;
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: 700;
    }
    .our-story-page > img {
        display: block;
        max-width: 90%;
        margin: 0 auto;
        height: auto;
    }
    .contact-page {
        display: grid; 
        grid-template-columns: 1fr;  
    }
    .contact-content { 
        max-width: 100vw;
    }
    .contact-us, .find-us {
        padding: 0 10px 0 10px;
    }
    .contact-image { 
        margin: 0 auto;
        padding-bottom: 20px;
    }
    .contact-form {
        padding: 0 10px 0 10px;
        max-width: 80%;
    }
    .products {
        margin-bottom: 20px;
        justify-content: center;
        align-items: center;
        display: grid; 
    }

    /*======= NAVIGATION =======*/    
    /* Hide full width menu */
    .fullMenu-left, .fullMenu-right {
        display: none !important;
    }
    /* Display mobile friendly menu on mobile devices */
    .mobileMenu {
        display: block !important;
    }
    /* Start of mobile navigation styling */
    .menuToggle
    {
        height: 50px;
        padding: 10px 0 0 10px;
        position: relative;  
        z-index: 1;
    }
    .menuToggle a
    {
        text-decoration: none;
        color: #333;
        transition: color 0.3s ease;
    }
    .menuToggle a:hover {
        background-color: #fff59c;
    }
    .menuToggle input
    {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;       
        cursor: pointer;        
        opacity: 0; /* hide */
        z-index: 2; /* and place it over the hamburger */
    }
    .menuToggle span
    {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;       
        background: #333;
        border-radius: 3px;  
        z-index: 1;   
        transform-origin: 4px 0px;     
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
    }  
    .menuToggle span:first-child
    {
        transform-origin: 0% 0%;
    } 
    .menuToggle span:nth-last-child(2)
    {
        transform-origin: 0% 100%;
    }
    .menuToggle input:checked ~ span
    {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
    }
    .menuToggle input:checked ~ span:nth-last-child(3)
    {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
    .menuToggle input:checked ~ span:nth-last-child(2)
    {
        transform: rotate(-45deg) translate(0, -1px);
    }
    .menu
    {
        position: absolute;
        width: 60vw;
        max-width: 200px;
        margin: -35px 0 0 -50px;
        padding: 50px 0 10px 50px;
        background: #ededed;
        list-style-type: none;   
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    .menu li
    {
        padding: 10px 0;
        font-size: 22px;
    }
    .menuToggle input:checked ~ ul
    {
        transform: none;
    }
    /* End of mobile navigation styling */

    /*======= FOOTER =======*/ 
    /* Footer styling starts here */
    footer {
        grid-template-columns: 1fr;
    }
    .map > iframe {
        width: 100%;
        height: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    footer > h2 {
        padding: 2px;
    }
    /* Footer styling ends here */
}

/* Tablets */
@media (min-width: 768px) {
    .index-page {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
            "main main main"
            "text-section text-section text-section"
            "text text text"
            "item1 item2 item3";        
        grid-column-gap: 10px;
    }
    .index-page > h2 {
        font-size: 1.6em;
        grid-area: text;
    }
    .main-photo {
        grid-area: main;
        width: 100%;
    }
    .text-section {
        grid-area: text-section;
    }
    .text-section > h2 {
        font-size: 1.6em;
    }
    .text-section > h1, .products-page > h1 {
        font-size: 1.8em;
    }
    .text-section > p {
        line-height: 1.6em;
        font-size: 1.2em;
    }
    .seasonal-item1 {
        grid-area: item1;
    }
    .seasonal-item2 {
        grid-area: item2;
    }
    .seasonal-item3 {
        grid-area: item3;
    }
    .main-photo, .seasonal-item1, .seasonal-item2, .seasonal-item3 {
        max-width: 100%;
        margin-bottom: 2em;
    }
    .caption {
        font-size: 1.2em;
    }
    .contact-page {
        margin-bottom: 40px;
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr; 
        grid-template-areas: 
          "contact image"; 
      }
    .contact-content { grid-area: contact; }
    .contact-image { 
        grid-area: image; 
        margin: 0 auto;
        max-width: 100%;
    }
    .contact-us, .find-us, .contact-form {
        padding-left: 20px;
    }
    .text-section {
        max-width: 60%;
    }
    .products-page > p {
        max-width: 60%;
        margin: 50px auto;
        text-align: center;
    }
    .story { 
        padding: 0 10px;
    }
    .contact-form {
        max-width: 100%;
    }
}

/* Laptops */
@media (min-width: 992px) {
    body {
        width: 80vw;
    }
    .products {
        margin-bottom: 20px;
        justify-content: center;
        align-items: center;
        display: grid; 
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: 1fr 1fr; 
        grid-template-areas: 
            "img1 text2 img3"
            "text1 img2 text3"; 
    }
    .img1 { grid-area: img1; }
    .img2 { grid-area: img2; }
    .img3 { grid-area: img3; }
    .img1, .img2, .img3 {
        max-width: 100%;
    }
    .text1 { grid-area: text1; }
    .text2 { grid-area: text2; }
    .text3 { grid-area: text3; }
    .text1 > h2, .text2 > h2, .text3 > h2 {
        font-size: 1.6em;
        text-transform: uppercase;
        margin-bottom: 10px;
        font-weight: 700;
    }
    .text1 > ul, .text2 > ul, .text3 > ul {
        list-style-type: circle;
        line-height: 1.2em;
    }
    .text-section {
        max-width: 70%;
    }
    .our-story-page {
        margin-bottom: 40px;
        max-width: 100%;
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr; 
        grid-template-areas: 
          "baker story story"; 
    }
    .baker { grid-area: baker; }
    .story { 
        grid-area: story; 
        padding: 0 0 0 30px;
        margin: auto 0;
    }
    .story > p {
        font-size: 1.1em;
        margin-bottom: 20px;
        line-height: 1.6em;
    }
    .story > h1 {
        font-size: 2em;
        margin-top: 0;
        text-transform: uppercase;
        margin-bottom: 20px;
        font-weight: 700;
    }
    .our-story-page > img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    /*======= NAVIGATION =======*/  
    /* Navigation styling starts here */
    /* Hide mobile friendly menu */
    .mobileMenu {
        display: none !important;
    }
    /* Display full width menu */
    .fullMenu-left, .fullMenu-right {
        display: block !important;
    }
    header {
        display: flex !important;
        margin: 0 auto 50px auto;
    }
    a > img {
        margin: 0 auto;
    }
    .fullMenu-left {
        margin-right: auto;
    }
    .fullMenu-right {
        margin-left: auto;
    }
    .fullMenu-left, .fullMenu-right, .menu-contact1 {        
        display: inline-block;
        align-self: flex-end;
    }
    .fullMenu-left ul, .fullMenu-right ul {
        margin-left: auto;
        display: flex;
        align-items: center;
    }
    .fullMenu-left li a, .fullMenu-right li a {
        font-weight: 700;
        display: block;
        color: #333;
        text-transform: uppercase;
        text-align: center;
        padding: 1.4em 0.8em;  
        text-decoration: none;
        font-size: 1.2em;
    }
    .fullMenu-left li a:hover, .fullMenu-right li a:hover {
        text-decoration-line: none;
        background-color: #fff59c;
    }
    /* Navigation styling ends here */

    /*======= FOOTER =======*/ 
    /* Footer styling starts here */
    footer {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
            "student student student"
            "map map map"
            "address hours contact"
            "copyright copyright copyright";
    }
    .map > iframe {
        width: 100%;
        height: 300px;
    }
    footer > h2 {
        grid-area: student;
        padding: 10px;
        font-size: 1.2em;
    }
    .map {
        grid-area: map;
    }
    .address {
        grid-area: address;
    }
    .contact {
        grid-area: contact;
    }
    .hours {
        grid-area: hours;
    }
    footer > p {
        grid-area: copyright;
    }
    /* Footer styling ends here */
}

/* Large screens */
@media (min-width: 1200px) {
    .fullMenu-left li a, .fullMenu-right li a {
        padding: 1.4em 1.8em;  
    }
}
@media (min-width: 1400px) {
    .fullMenu-left li a, .fullMenu-right li a {
        padding: 1.4em 2.8em;  
    }
}
@media (min-width: 1600px) {
    .fullMenu-left li a, .fullMenu-right li a {
        padding: 1.4em 4em;  
    }
}