/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of reset */

/*======= FONTS =======*/
@font-face {
    font-family: ClearSansRegular;
    src:url("../fonts/ClearSans-Regular.ttf");
}
@font-face {
    font-family: ClearSansItalic;
    src:url("../fonts/ClearSans-Italic.ttf");
}
@font-face {
    font-family: ClearSansBold;
    src:url("../fonts/ClearSans-Bold.ttf");
}

/* Body */
body, html {
    max-width: 3000px;
    height: 100vh;
    margin: auto;
    font-family: ClearSansRegular;
    color: #212d42;
}

/* Wrapper and main */
main, .wrapper {
    /* height: 100vh; */
    /* temp */
    /* box-shadow: 1px 1px 5px 0px grey; */
}

main, .container {
    margin: auto;
}

/* Header */
header {
    background-color: #fff;
    /* box-shadow: 1px 1px 3px 0px #c1282f; */
    border-bottom: 1px solid #cccccc;
    position: sticky;
    top: 0;
    /* width: 100%; */
}

header a {
    text-decoration: none;
}

header ul {
    list-style: none;
}

/* Logo */
header img {
    width: 110px;
    padding: 10px;
    height: auto;
}

/* Nav menu */
nav {
    width: 100%;
    height: 100%;
    /* position: fixed; */
    background-color: #e7e7e7;
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s ease-out;
}

.subnav-content > a {
    color: #fff;
    padding: 10px;
    text-align: center;
}

.menu > li > a, .menu p {
    padding: 15px;
    color: #212d42;
}

.menu a, .menu p {
    display: block;
    font-size: 1.4em;
}

.menu a:hover {
    background-color: transparent;
    color: #bf0911;
}

.subnav-content > a:hover {
    background-color: #fff0f0;
    /* opacity: 0.2; */
    border: 1px solid #ffc5c8;
    /* box-shadow: 1px 1px 5px 0px grey; */
}

/* Sub nav */
.subnav-content {
    background-color: #969696;
    width: 100%;
    z-index: 1;
    padding: 20px 0 ;
    display: none;
}

.subnav:hover .subnav-content {
    display: block;
}

/* Menu Icon */
.hamb {
    cursor: pointer;
    float: right;
    padding: 50px 20px;
}

.hamb-line {
    /* Hamburger middle line */
    background: transparent;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}

.hamb-line::before,
.hamb-line::after{
    /* Hamburger top and bottom lines */
    background: #212d42;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before{
    top: 5px;
}

.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
}

/* Toggle menu icon */
.side-menu:checked ~ nav {
    max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;

}

.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

/* Footer */
footer {
    text-align: center;
    background-color: #C9C8C8;
    margin-top: auto;
    /* position: sticky;
    bottom: 0; */
}
footer > p {
    padding: 1em 0;
    /* color: #fff; */
}

/* Main image */
main > img {
    width: 100%;
    padding-top: 50px;
}

/* Content */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  
  .left-column {
    background-color: blue;
    height: 100px;
  }
  
  .right-column {
    background-color: green;
    height: 100px;
  }


/* Icons */
.icon {
    padding: 30px 0;
    /* width: 200px; */
    flex: 1 0 21%;
    text-align: center;
}

.icon > h3 {
    font-size: 1.4em;
}

.icon-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    margin: 60px 0;
}

.icon img {
    height: 70px;
}

/* Search Box Button*/
  .search-toggle {
    /* padding: 80px 30px 10px 30px; */
    position: relative;
    display: block;
    height: 10px;
    width: 10px;
  }
  .search-toggle::before, .search-toggle::after {
    content: '';
    position: absolute;
    display: block;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
  }
  .search-toggle::before {
    border: 2px solid #5b3256;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    left: -2px;
    top: -2px;
  }
  .search-toggle::after {
    height: 2px;
    width: 7px;
    background: #5b3256;
    top: 10px;
    left: 8px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .search-toggle.active::before {
    width: 0;
    border-width: 1px;
    border-radius: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: -1px;
    left: 4px;
  }
  .search-toggle.active::after {
    width: 12px;
    left: -1px;
    top: 4px;
  }
  .search-input:focus {
    outline: none;
  }
  
  
  /* Search box */
  /* #header-1 {
      background: #ECF0F1 none repeat scroll 0 0;
  } */
  
  #header-1 .search-box {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    max-height: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    background-color: #C9C8C8;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  #header-1 .search-box .search-input {
    width: 100%;
    height: 100%;
    padding: 0 1em;
    border: 0;
    background-color: transparent;
    opacity: 0;
    color: #fff;
  }
  #header-1 .search-box .search-input::-webkit-input-placeholder {
    color: #fff;
    font-size: 1.4em;
  }
  #header-1 .search-box {
    max-height: 40px;
    padding:5px 0;
  }
  #header-1 .search-box .search-input {
    opacity: 1;
}

.search-button {
    visibility: collapse;
}


/* Responsiveness */
/* Small phones */
@media (min-width: 280px) {
}

/* Tablets */
@media (min-width: 768px) {
}

@media (min-width: 768px) {
    nav {
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
        /* For search bar */
        overflow: visible;
    }

    .subnav-content > a {
        padding: 10px;
        color: #212d42;
    }

    .menu > li > a, .menu p {
        padding: 45px 30px 10px 30px;
        color: #212d42;
    }

    .menu a, .menu p {
        display: block;
    }

    .menu li {
        float: left;
    }
    
    .hamb {
        display: none;
    }

    /* Sub nav */
    .subnav-content {
        padding: 20px 0 ;
        display: none;
        background-color:  #f9f9f9;
        position: absolute;
        width: auto;
    }


    /* Search box */
    .search-button {
        padding: 55px 10px 0 0;
        visibility: visible;
      }

    #header-1 .search-box {
        max-height: 0;
        padding: 0;
      }
      #header-1 .search-box .search-input {
        opacity: 0;
    }


    #header-1.show .search-box {
        max-height: 40px;
        padding:5px 0;
      }
      #header-1.show .search-box .search-input {
        opacity: 1;
    }
}

/* Laptops */
@media (min-width: 992px) {
    main, .container {
        width: 70vw;
        margin: auto;
    }
}


main > h1 {
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 1em;
    /* z-index: 10; */
    /* line-height: 1.2em; */
}

/* Recipe */
.recipe {
    display: grid; 
    grid-template-columns: 1fr 2fr;
    width: 100%;
    margin: 1em auto;
    padding-bottom: 0.8em;
    background-color: #f9f9f9;
}
/* .recipe {
    display: block;
    overflow: auto;
} */
.recipe > img {
    /* width: 40%; */
    max-width: 300px;
    height: auto;
    margin: 1em;
    float: left;
}
/* .recipe li {
    display: inline;
} */
.info {
    margin: 1em 0;
}
.info > img {
    display: block;
    margin: 0.8em 0;
    /* overflow: auto; */
}
.info > ul {
    margin-top: 1em;
}
.info li, .nutrition li {
    display: inline-block;
}
.info li:not(:first-child), .nutrition li:not(:first-child) {  
    padding-left: 0.2em;
    border-left: 1px solid #000;
}
.roundup-button {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    margin: 1em 5px 0px 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    outline: 2px solid #f65d38;
}
.roundup-button > a {
    color: #f65d38;
    text-decoration: none;
}


/* Recipes details */
.recipe-details img {
    max-width: 400px;
}
