/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of reset */

/*======= FONTS =======*/
@font-face {
    font-family: ClearSansRegular;
    src:url("../fonts/ClearSans-Regular.ttf");
}
@font-face {
    font-family: ClearSansItalic;
    src:url("../fonts/ClearSans-Italic.ttf");
}
@font-face {
    font-family: ClearSansBold;
    src:url("../fonts/ClearSans-Bold.ttf");
}

/* Body */
body, html {
    max-width: 3000px;
    min-height: 100vh;
    margin: auto;
    font-family: ClearSansRegular;
    color: #212d42;
    position: relative;
}

/* Main */
main {
    padding-bottom: 7em;
}

main, .container {
    margin: auto;
}

/* Home page */
/* .home-page > h1 {
    font-size: 2.4em;
    text-transform: uppercase;
    text-align: center;
    padding-top: 1em;
    line-height: 1.2em;
} */

.heading {
    z-index : -1;
    position: relative;
    font-size: 1.4em;
    text-transform: uppercase;
    text-align: center;
    padding-top: 1em;
    line-height: 1.2em;
}

.heading::before {
    content: "";
    position: absolute;
    left: 30%;
    bottom: -0.7em;
    width: 40%;
    border-bottom: 1px solid #cccccc;
}

.home-page > h2 {
    font-size: 1.4em;
    margin-top: 2em;
    text-align: center;
    background-color: #f0f0f0;
    padding: 1.4em 0;
    line-height: 1.2em;
}

.home-page > h2 > span {
    color: #f65d38;
}

/* Main image */
.home-page > img {
    width: 100%;
    padding-top: 4em;
}

/* Header */
header {
    background-color: #fff;
    border-bottom: 1px solid #cccccc;
    position: sticky;
    top: 0;
}

header a {
    text-decoration: none;
}

header ul {
    list-style: none;
}

/* Logo */
header img {
    width: 110px;
    padding: 10px;
    height: auto;
}

/* Footer */
footer {
    text-align: center;
    background-color: #fff;
    border-top: 1px solid #cccccc;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* position: sticky;
    bottom: 0; */
}
footer > p {
    padding: 1em 0;
    font-size: 0.9em;
    /* color: #fff; */
}

/* Content */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
  
.column {
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

/* Icons */
.icon {
    padding: 30px 0;
    flex: 1;
    text-align: center;
}

.icon h3 {
    font-size: 1.4em;
    margin-top: 0.1em;
}

.icon-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    margin: 3em 0;
}

.icon img {
    height: 70px;
}

/* No content message */
.no-content {
    font-size: 1.2em;
    background-color: #f8afaf;
    text-align: center;
    padding: 1.4em 0;
    margin-top: 2em;
}

/* Recipe */
.recipe {
    display: grid; 
    grid-template-columns: 1fr 2fr;
    width: 100%;
    margin: 1em auto;
    background-color: #f0f0f0;
    /* background-color: #f9f9f9; */
}

.recipe > img {
    /* width: 40%; */
    max-width: 300px;
    height: auto;
    margin: 1em;
    float: left;
}

/* Details page */
.details p {
    line-height: 1.4em;
    padding-bottom: 1.2em;
}

.details > h3 {
    font-size: 1.2em;
    background-color: #efefef;
    /* background-color: #f9f9f9; */
    padding: 1em 0;
    font-family: ClearSansBold;
    text-align: center;
    margin: 0.5em 0;
}

.details ul {
    list-style-type: circle;
    margin-left: 3em;
}

.details li:not(:last-child) { 
    margin-bottom: 0.3em;  
}

.details > h1, .content > h1 {
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    padding: 1em 0;
    line-height: 1.2em;
}

.details img {
    max-width: 400px;   
    display: block;
    margin: 0 auto 2em auto;
}

.details-img {
    background-color: #f0f0f0;
    margin-top: 4em;
}

/* Recipe info */
.info {
    margin: 1em 0;
}

.info > img {
    display: block;
    margin: 0.8em 0;
}

.info > ul {
    margin-top: 1em;
}

.info li, .nutrition li {
    display: inline-block;
}

.info li:not(:first-child), .nutrition li:not(:first-child) {  
    padding-left: 0.2em;
    border-left: 1px solid #000;
}

.info > h2 {
    font-size: 1.6em;
    padding-bottom: 1em;
}

.info > h3 {
    font-size: 1.2em;
    padding-bottom: 0.4em;
}

.info > p {
    line-height: 1.4em;
}

/* Buttons */
.readmore-button, .goback-button {
    width: 100px;
    font-size: 0.9em;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    margin: 1.4em 0;
    padding: 5px 20px;
    outline: 2px solid #f65d38;
    border-radius: 14px;
}

.readmore-button > a, .goback-button > a {
    color: #f65d38;
    text-decoration: none;
}

.goback-button {
    margin: auto 0;
}

.nav-button {
    padding: 3em 0 1em 0;
}

.nav-button > a {
    text-decoration: none;
    display: inline-block;
    background-color: #f65d38;
    color: #fff;
    border-radius: 14px;
    width: 120px;
    padding: 7px 0;
    text-align: center;
}
  
.nav-button > a:hover {
    background-color: #ddd;
    color: #212d42;
}

.bottom-buttons {
    display: flex;
    justify-content: space-between;
}

.back {
    text-align: center;
}

/* TODO */

.home-img {
    width: 100%;
}

.column > h2 {
    font-size: 1.6em;
    font-family: ClearSansBold;
}

.icon > a, .icon > a:hover, .icon > a:visited, .icon > a:focus, .icon > a:active {
    text-decoration: inherit;
    color: inherit;
    /* cursor: auto; */
}


/* SEARCH */
input[type="text"] {
    height: 33px;
    font-size: 1.4em;
    display: inline-block;
    border: none;
    outline: none;
    /* color: #555; */
    padding: 3px;
    padding-right: 30px;
    width: 0px;
    position: absolute;
    bottom: 10px;
    /* top: 0; */
    right: 0;
    background: none;
    z-index: 3;
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;
    /* background: red; */
  }
  
  input[type="text"]:focus:hover {
    border-bottom: 1px solid #BBB;
  }
  
  input[type="text"]:focus {
    width: 300px;
    z-index: 1;
    border-bottom: 1px solid #BBB;
    cursor: text;
  }

.container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.search-button {
    height: 37px;
    width: 33px;
    position: absolute;
    bottom: 10px;
    right: 0;
    border: none;
    background: none;
    /* opacity: .5; */
}

.fa-search {
    color: #212d42;
}

.search {
    padding: 2em 0;
}

.search-result-item {
    padding-bottom: 0.8em;
}


/* Footer nav */
.bottom-nav {
    padding-top: 1em;
}

.bottom-nav li {
    display: inline;
}

.bottom-nav a {
    text-decoration: none;
    color: #212d42;
    display: inline-block;
    padding: 6px 12px;
}

.bottom-nav a:hover {
    background-color: #f65d38;
    color: #fff;
}

/* Responsiveness */
/* Small phones */
@media (min-width: 280px) {
}

/* Tablets */
@media (min-width: 768px) {
    main, .container {
        width: 50vw;
        margin: auto;
    }
    .heading {
        font-size: 2.2vw;
    }
}

/* Laptops */
@media (min-width: 992px) {

}